.notice {
    background-color: rgb(247, 162, 5);
    overflow: hidden;
    width: 100%;
}

.notice-content{
    font-weight: bold;
    font-size: 18px;
    animation: moveNotice 15s linear infinite;
    color: #010642;
}

@keyframes moveNotice {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-29%);
    }
}

@media screen and (max-width: 768px) {
    @keyframes moveNotice {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-90%);
        }
    }
    .notice-content {
        font-size: 95%; 
    }
}

@media screen and (max-width: 570px) {
    @keyframes moveNotice {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(-85%);
        }
    }
    .notice-content{
        font-size: 75%;
    }

}

@media screen and (max-width: 448px) {
    
    .notice-content{
        font-size: 65%;
    }

}

@media screen and (max-width: 389px) {
    
    .notice-content{
        font-size: 60%;
    }

}

@media screen and (max-width: 347px) {
    
    .notice-content{
        font-size: 53%;
    }

}

@media screen and (max-width: 318px) {
    
    .notice-content{
        font-size: 50%;
    }

}
